<h1>Cart</h1>
<div id="cart">
{{#if courses.length }}
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Amount</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
  {{#each courses}}
    <tr>
      <td>{{title}}</td>
      <td>{{count}}</td>
      <td><button class="btn btn-small js-remove" data-id="{{_id}}">Delete</button></td>
    </tr>
  {{/each}}  
  </tbody>
</table>

<p><strong>Total Price: <span class="price">{{price}}</span></strong></p>

<form action="/orders" method='post'>
  <button type='submit' class="btn">Do the order</button>
</form>

{{else}}
<h2>Cart is empty!</h2>
{{/if}}
</div>
